

{% if is_raining %}The weather is stormy and raining heavily.{% endif %}

They are sitting close to each other...

Two young very good looking men around {{ age|default('18yo') }}
are {{position}} in ancient {{ location }}, secretly horny for each other.

The first a fighter, trained since he was a boy for the sole purpose of being called upon
to defend their way of life when the time came.

His hair is dark, square face, with brown eyes and a small mustache over his lip.

They are sitting close to each other, talking low, not knowing what they should say to one-another.

One is a scholar, calm in appearance, but is also the son of the General that
will be leading their army out to fight tomorrorow.

The other boy is part of that army.
The air is heavy in this unually calm town near the sea.
They {{position}} there without saying a word Until sundown.

Enjoying the calm affection of the other. Knowing, that discussing their options is futile.

The image should be a painting, in the style of the renaissance, with soft lighting and muted colors.
The overall mood is melancholic and tender.
